<body>

    <h2 style="text-align:center">Result</h2>
    
    <div class="card">
      <img src="https://media3.giphy.com/media/xDDTyGIWUyFlm/200.webp?cid=790b7611838ad7c93a5cdaa379dc619f0d33e82178dfe480&rid=200.webp"
       alt="John" style="width:100%">
      <h1>STOCK SOLD OUT</h1>
      <p class="title">Your stock sold out successfully, The transaction amount will be credited to your account</p>
      <p>Good Day</p>
      <div style="margin: 24px 0;">
        <a href="#"><i class="fa fa-dribbble"></i></a> 
        <a href="#"><i class="fa fa-twitter"></i></a>  
        <a href="#"><i class="fa fa-linkedin"></i></a>  
        <a href="#"><i class="fa fa-facebook"></i></a> 
      </div>
      <p><button (click)='goToHome()'>OK</button></p>
    </div>
    
    </body>