<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">

	<!-- Spring MVC Configs -->

	<display-name>spring-mvc-demo</display-name>
	<!-- Dispatcher Servlet is one thing which can take all the requests from 
		the front line and pass to the controller which acts as FRONT CONTROLLER -->

	<!-- STEP 1: CONFIGURE SPRING MVC DISPATCHER SERVLET -->
<absolute-ordering/>
	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<!-- This init parameter gives the where actually the Spring configuration 
			file location hence the path is been passed -->
		
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring-mvc-config-file.xml</param-value>
		</init-param>
		<!-- IT IS ALSO KNOWN AS PRE INITIALIZATION OF SERVLET.it must be true -->
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<!--why '/' because as i said every request has to pass with dispatcher 
		servlet hence -->

	<!-- STEP 2: SET UP URL MAPPING FOR SPRING MVC DISPATCHER SERVLET -->

	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

</web-app>