h4{
    font-style: italic;
    text-align: center;
    font-size: 30px;
    text-decoration: lightgoldenrodyellow;
    text-shadow: darkturquoise;
}
.card-header{
text-emphasis-color: initial;
font-style: initial;
margin-top: 5%;
}
.card{
    padding: 1em;
    border-color: darkgoldenrod;
    border-radius: 2em;
    margin-top: 10%;
}