<body>

    <div class="alert alert-success" *ngIf='message'>
        {{message}}
    </div>
    <div class="alert alert-danger" *ngIf='error'>
        {{error}}
    </div>
    <div class="col-md-4 offset-4 mt-2">
        <form #landBeanForm='ngForm' (ngSubmit)='addLand(landBeanForm)'>
            <div class="card">
                <div class="card-header">
                    <h4>Add Land Details</h4>
                </div>
            </div>
            <div class="form-group">
                <label for="landLocation">Location</label>
                <input type="text" name="landLocation" id="landLocation" class="form-control"
                    placeholder="Enter Land Location" #landLocation='ngModel' ngModel
                    pattern="^[a-zA-Z]+(?: [a-zA-Z]+)*$" minlength="2" maxlength="50" required>
                <div class="text-danger" *ngIf='(landLocation.touched || landLocation.dirty) && landLocation.invalid'>
                    <div class="alert alert-danger" *ngIf='landLocation.errors.required'>
                        *This Field Is invalid
                    </div>
                    <div class="alert alert-danger" *ngIf='landLocation.errors.pattern'>
                        *Can contain only alphabets seperated by space with minimum length 2
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="landSize">Size (acre's)</label>
                <input type="number" name="landSize" id="landSize" class="form-control" placeholder="Enter Land Size"
                    #landSize='ngModel' ngModel pattern="[1-9][0-9]*" min="1" required>
                <div class="text-danger" *ngIf='landSize.touched && landSize.invalid'>
                    <div class="alert alert-danger" *ngIf='landSize.errors.required'>
                        *This Field Is invalid
                    </div>
                    <div class="alert alert-danger" *ngIf='landSize.errors.pattern'>
                        *Invalid land size, size must be numbers and greater than zero
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="landResources">Resources</label>
                <input type="text" name="landResources" id="landResources" class="form-control"
                    placeholder="Enter land Resources" #landResources='ngModel' ngModel
                    pattern="^[a-zA-Z]+(?: [a-zA-Z]+)*$" minlength="2" maxlength="50" required>
                <div class="text-danger"
                    *ngIf='(landResources.touched || landResources.dirty) && landResources.invalid'>
                    <div class="alert alert-danger" *ngIf='landResources.errors.required'>
                        *This Field Is invalid
                    </div>
                    <div class="alert alert-danger" *ngIf='landResources.errors.pattern'>
                        *Can contain only alphabets seperated by space with minimum length 2
                    </div>
                </div>
            </div>
            <div class="card-footer float-right">
                <button type="submit" class="btn btn-success">Add-Land</button>
            </div>
            <br>
        </form>
    </div>
</body>