<div class="card text-white bg-primary mb-4" style="max-width: 18rem;">
    <div class="card-header">
        <h5>Dandeli Forest Department</h5>
    </div>
    <div class="card-body">
        <h6 class="card-title">Phone : 8147464093 <br> Email: dandeliforestdept@gmail.com</h6>
        <p class="card-text">Dandeli is a small town in the armature of western ghats of Indian, state Karnataka. It is
            well known for wealth of wildlife sanctuary, dense forests & natural resources.Dandeli is well known
            for its lush green environment; you can find forest green in colour throughout the year.This place is rich
            in resources
        </p>
    </div>
</div>
<div class="card text-white bg-secondary mb-4" style="max-width: 18rem;">
    <div class="card-header">
        <h5>BannerGhatt Forest Deaparment</h5>
    </div>
    <div class="card-body">
        <h6 class="card-title">Phone : 8956784512 <br> Email : bannerghattaforestdept@gmail.com</h6>
        <p class="card-text">Bannerghatta Biological Park, Bangalore, for accommodating more than 100 Lions and Tigers
            rescued from various circus companies. As on 31-3-2010, 36
            Lions and 1 Tiger out of rescued Lions and Tigers from various circus companies have been accommodated at
            Rescue Centre at Bannerghatta.</p>
    </div>
</div>
<div class="card text-white bg-success mb-4" style="max-width: 18rem;">
    <div class="card-header">
        <h5>NagarHole Forest Department</h5>
    </div>
    <div class="card-body">
        <h6 class="card-title">Phone : 8886784510 <br> Email : nagarholeforestdept@gmail.com</h6>
        <p class="card-text">Nagarhole National Park is a national park located in Kodagu district and Mysore district
            in Karnataka, India. ... The park has rich forest cover, small streams, hills, valleys and waterfalls. The
            park has a healthy predator-prey ratio, with many tigers, Gaur, elephants, Indian leopards, and deer
            (Chital, Sambar, etc.).
        </p>
    </div>
</div>
<div class="card text-white bg-danger mb-4" style="max-width: 18rem;">
    <div class="card-header"><h5>Bandipura Forest Department</h5></div>
    <div class="card-body">
        <h6 class="card-title">Phone : 7676784111 <br> Email : bandipuraforestdept@gmail.com</h6>
        <p class="card-text">The Bandipur, Nagarahole, Wayanad, Mudumalai and Sathyamangalam Tiger Landscape is spread
            across the states of Karnataka , Tamil Nadu and Kerala.Is a fine example of managing inter-state Tiger Reserves for the long term Conservation of Tiger
            Source Population. </p>
    </div>
</div>
