@import url('https://fonts.googleapis.com/css?family=Lobster|Zilla+Slab&display=swap');
div{
    float: left;
    margin-left: 2em;
    padding-left: 1px;
    border-spacing: 2em;
    margin-block-end: 2em;
}
.card{
    margin-top: 2em;
    margin-left: 4em;
    font-family: 'Lobster', cursive;
    font-family: 'Zilla Slab', serif;   
     height: 550px;
    font-size: 17px;
}