
         <div class="card text-center bg-light" style="margin-top: 3em;" >
            <div class="card-header">
              <h4>WelCome To Schedler Portal</h4>
            </div>
            <div class="card-body mt-2 mb-2">
              <blockquote class="blockquote mb-1em">
                <p >This portal helps you to view and Schedule the product orders to the client/customer, here you can view product,contracts and schedule the orders using following links  </p>
                <div class="col-sm-4 bg-warning" style="float: right;">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Schedule Contracts</h5>
                            <p class="card-text">Click to schedule the contracts based on criteria</p>
                            <a routerLink="/schedule-contracts" class="btn btn-outline-success">Schedule</a>
                        </div>
                    </div>
                </div>
    
                <div class="col-sm-4 bg-primary" style="float: right;">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">View Contracts</h5>
                            <p class="card-text">Click button to view all the contracts </p>
                            <a routerLink="/view-contract-by-scheduler" class="btn btn-outline-success">contracts</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 bg-danger"style="float: right;">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">View Product</h5>
                            <p class="card-text">Click button to view all the inventory products  </p>
                            <a routerLink="/get-products" class="btn btn-outline-success">products</a>
                        </div>
                    </div>
                </div>
                <footer class="blockquote-footer">CUSTOMER IS LIKE GOD <cite title="Source Title">god helps us to grow well</cite></footer>
              </blockquote>
            </div>
          </div>
