<div class="container">
  <h4 style="text-align: center;font-family: 'Times New Roman', Times, serif;">WelCome Admin To Forest Management System</h4>
  <div class="container mt-4 ml-10">
    <div class="row">
      <div class="card" style="width: 18rem;">
        <div class="card-header">
          CUSTOMER
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><a class="nav-link" routerLink="/add-customers">Add Customer</a>
            </li>
          <li class="list-group-item"><a class="nav-link" routerLink="/view-customers">View Customer</a></li>
        </ul>
      </div>
      <div class="card" style="width: 18rem;">
        <div class="card-header">
          PRODUCTS
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><a class="nav-link" routerLink="/add-products">Add Product</a></li>
          <li class="list-group-item"><a class="nav-link" routerLink="/view-products">View Products</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container mt-4 ml-10">
    <div class="row">
      <div class="card" style="width: 18rem;">
        <div class="card-header">
          LANDS
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><a class="nav-link" routerLink="/add-lands">Add Land</a></li>
          <li class="list-group-item"><a class="nav-link" routerLink="/view-lands">View Lands</a></li>
        </ul>
      </div>
      <div class="card" style="width: 18rem;">
        <div class="card-header">
          CONTRACTS
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><a class="nav-link" routerLink="/view-contracts">View Contracts</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>