<div class="card border-success mb-4 ml-5" style="max-width: 90rem;">
    <div class="card-body text-dark">
        <h5 class="card-title"><h4>Karnataka Forest Department (KFD) </h4><img src="https://cdn.pixabay.com/photo/2017/07/24/12/43/schrecksee-2534484_1280.jpg"
                width="100%" alt="" srcset=""></h5>
        <p class="card-text"> conservation and management of the forests and wildlife of the state. It supervises the
            exploitation and marketing of forest produce obtained from the government forests. It also carries out
            certain regulatory functions with regard to felling of trees growing on private lands. It regulates movement
            of forest produce from all types of land. It controls the functioning of saw mills and other wood-based
            industries.
        </p>
        <p>
            The vision of the Forest department is conservation, management and development of forests and tree growth
            on sustainable basis, for the present and the future generations. It envisages expansion of the forest and
            tree cover to one third of the geographical area of the state in consonance with the National Forest Policy,
            1988. The focus of the department is on protecting the existing forests, greening all the barren areas of
            the state, and encouraging people to grow more and more trees in their lands so that the pressure on the
            natural forests is progressively reduced.


        </p>
    </div>
    <div class="card-footer bg-transparent border-success text-dark ">Forest, Environment and Ecology Department, Karnataka
        Government Secretariat, Room No. 447, 4th Floor, Gate No. 2, M. S. Building, Bengaluru-560001
        <p> email : prsfee@gmail.com</p>
        <p> phone : 08022258393</p>
    </div>
</div>